# NY Taxi PostgreSQL
POSTGRES_USER=root
POSTGRES_PASSWORD=replace_me
POSTGRES_DB=ny_taxi

# pgAdmin
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=replace_me

# Kestra PostgreSQL
KESTRA_POSTGRES_USER=kestra
KESTRA_POSTGRES_PASSWORD=replace_me
KESTRA_POSTGRES_DB=kestra

# Kestra login
KESTRA_ADMIN_USERNAME=admin@example.com
KESTRA_ADMIN_PASSWORD=replace_me

# Used from inside Docker Compose
NY_TAXI_DATABASE_URL=postgresql://root:replace_me@db:5432/ny_taxi